<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/addformstyles.css"></link>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row header">
        <h1>Resume Maker Pro Add Education &nbsp;</h1>
        <h3>Fill out the form below to start creating your Education Section of your Resume!</h3>
    </div>
    <div class="row body">
        <form th:action="@{/addEducation}" th:object="${education}" method="post">
            <ul>

                <li>
                    <p class="left">
                        <label for="University">Univeristy</label>
                        <input th:field="${education.university}" type="text" name="University" placeholder="university" /><span th:if="${#fields.hasErrors('university')}" th:errors="*{university}"></span>
                    </p>
                    <p class="left">
                        <label for="Major">Major</label>
                        <input th:field="${education.major}" type="text" name="major" placeholder="major" /><span th:if="${#fields.hasErrors('major')}" th:errors="*{major}"></span>
                    </p>
                    <p class="left">
                        <label for="Degree">Degree</label>
                        <input th:field="${education.degree}" type="text" name="degree" placeholder="degree" /><span th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}"></span>
                    </p>
                    <p class="left">
                        <label for="Graduation Year">Graduation Year</label>
                        <input th:field="${education.gradyear}" type="text" name="Graduation Year" placeholder="Graduation Year" /><span th:if="${#fields.hasErrors('gradyear')}" th:errors="*{gradyear}"></span>
                    </p>
                </li>


                <li><div class="divider"></div></li>


                <li>
                    <input class="btn btn-submit" type="submit" value="Submit Education" th:href="@{/addEducation}" />
                </li>

            </ul>
        </form>
    </div>
</div>
</body>
</html>