<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/addformstyles.css"></link>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row header">
        <h1>Resume Maker Pro Add Education &nbsp;</h1>
        <h3>Fill out the form below to start creating your Experince Section of your Resume!</h3>
    </div>
    <div class="row body">
        <form action="#">
            <ul>

                <li>
                    <p class="left">
                        <label for="Company_Title">Company Title</label>
                        <input type="text" name="Company_Title" placeholder="Company_Title" />
                    </p>
                    <p class="left">
                        <label for="job_title">Job Title</label>
                        <input type="text" name="job_title" placeholder="job title" />
                    </p>
                    <p class="left">
                        <label for="start_date">Start Date</label>
                        <input type="text" name="start_date" placeholder="start date" />
                    </p>
                    <p class="left">
                        <label for="End_date">End Date</label>
                        <input type="text" name="end_date" placeholder="end date" />
                    </p>
                    <p class="left">
                        <label for="MainJob_Duty">Main Job Duty</label>
                        <input type="text" name="Main Job Duty" placeholder="Main Job Duty" />
                    </p>
                </li>


                <li><div class="divider"></div></li>


                <li>
                    <input class="btn btn-submit" type="submit" value="Submit Experince" />
                </li>

            </ul>
        </form>
    </div>
</div>
</body>
</html>