<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/addformstyles.css"></link>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row header">
        <h1>Resume Maker Pro Add Education &nbsp;</h1>
        <h3>Fill out the form below to start creating your Education Section of your Resume!</h3>
    </div>
    <div class="row body">
        <form action="#">
            <ul>

                <li>
                    <p class="left">
                        <label for="University">Univeristy</label>
                        <input type="text" name="University" placeholder="university" />
                    </p>
                    <p class="left">
                        <label for="Major">Major</label>
                        <input type="text" name="major" placeholder="major" />
                    </p>
                    <p class="left">
                        <label for="Degree">Degree</label>
                        <input type="text" name="degree" placeholder="degree" />
                    </p>
                    <p class="left">
                        <label for="Graduation Year">Graduation Year</label>
                        <input type="text" name="Graduation Year" placeholder="Graduation Year" />
                    </p>
                </li>


                <li><div class="divider"></div></li>


                <li>
                    <input class="btn btn-submit" type="submit" value="Submit Education" />
                </li>

            </ul>
        </form>
    </div>
</div>
</body>
</html>