<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/addformstyles.css"></link>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row header">
        <h1>Resume Maker Pro Signup &nbsp;</h1>
        <h3>Fill out the form below to start creating your Skillset Section of your Resume!</h3>
    </div>
    <div class="row body">
        <form th:action="@{/addSkill}" th:object="${skills}" method="post">
            <ul>

                <li>
                    <p class="left">
                        <label for="skill">Skill</label>
                        <input th:field="${skills.skill}" type="text" name="skill" placeholder="Please type your primary skillset" /><span th:if="${#fields.hasErrors('skill')}" th:errors="*{skill}"></span>
                    </p>
                    <p class="left">
                        <label for="skill">Skill Rating/Profiencey</label>
                        <input  th:field="${skills.skillrating}"  type="text" name="skill" placeholder="Please type your skill rating" /><span th:if="${#fields.hasErrors('skillrating')}" th:errors="*{skillrating}"></span>
                    </p>
                </li>

                <li>

                </li>
                <li><div class="divider"></div></li>


                <li>
                    <input class="btn btn-submit" type="submit" value="Submit Skills" th:href="@{/addSkill}" />
                </li>

            </ul>
        </form>
    </div>
</div>
</body>
</html>