<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/indexstylesheet.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
    <link rel="stylesheet" href="css/navbarstyle.css">
</head>
<body>
<div class="row" th:fragement="navbar">
<div class="container-fluid">
<nav class="navbar navbar-expand-sm bg-success navbar-dark bg-primary">
    <img class="navbar-brand navbarlogodetails" src="http://store.storeimages.cdn-apple.com/4044/as-images.apple.com/is/image/AppleInc/aos/published/images/H/D1/HD162/HD162?wid=800&hei=800&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1400749861094"  alt="logo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/register}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/addEducation}">Add Education!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/addExperience}" >Add Experience!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/addSkill}">Add Skill!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('RECRUITER')" th:href="@{/addSkill}">Add new Job Skill!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/addResume}">Add Resume Profile!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"sec:authorize="hasAuthority('RECRUITER')"  th:href="@{/addJob}">Add Job!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"sec:authorize="hasAuthority('RECRUITER')"  th:href="@{/addskillstojob/1}">Add Job to Skill!</a>
        </li>
        <li class="nav-item">

            <a class="nav-link"sec:authorize="hasAuthority('USER')"  th:href="@{/showjobwithskills}">Show Jobs and Skills!</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Edit Information List
            </a>
            <div class="dropdown-menu">
            <a class="dropdown-item"sec:authorize="hasAuthority('USER')"  sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/resumeList}">Show Resume Profile List!</a>
            <a class="dropdown-item" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/skillList}">Show Skill List!</a>
            <a class="dropdown-item" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/eduList}">Show Education List</a>
            <a class="dropdown-item" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/expList}">Show Experience List</a>
                <a class="dropdown-item" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/JobList}">Show Job List</a>
                </div>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Resume Services
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/createResume}">Show Resume</a>
                <a class="dropdown-item" th:href="@{/createcoverletter}">Show Cover Letter</a>
            </div>
        </li>
    </ul>
</nav>
</div>
</div>



<header class="bg-image" th:fragment="navbuttons">
    <div class="container">
        <h1>Job Finder/Resume Maker Pro</h1>
        <p th:fragment="currentuser"> Current Account:<span th:text ="${#authentication.getName()}"></span></p>
        <a class="btn btn-transparent" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/addResume}" >Create yours Resume Profile!</a>
        <a class="btn btn-transparent" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/addCover}" >Create Cover Letter</a>
        <a class="btn btn-transparent" sec:authorize="hasAuthority('RECRUITER')" th:href="@{/addJob}" >Create new Job!</a>
        <a class="btn btn-transparent" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/JobList}" >Show Job List!</a>
        <a class="btn btn-transparent" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('RECRUITER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/showjobwithskills}" >Show Job List!</a>
        <a class="btn btn-transparent" sec:authorize="hasAuthority('USER')" th:href="@{/addSkill}"  >Add Skill!</a>
        <a class="btn btn-transparent" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/addEducation}" >Add Education!</a>
        <a class="btn btn-transparent" sec:authorize="hasAuthority('USER')" sec:authorize="hasAuthority('JOBSEEKER')" th:href="@{/addExperience}">Add Experience!</a>
        <a class="btn btn-transparent" sec:authorize="hasAuthority('RECRUITER')" th:href="@{/addskillstojob/1}" >Add Job to Skill!</a>
        <a class="btn btn-transparent" th:href="@{/createResume}">Show Resume</a>
        <a class="btn btn-transparent" th:href="@{/createcoverletter}">Show Cover Letter</a>
        <a class="btn btn-transparent" th:href="@{/register}">Register</a>
        <a class="btn btn-transparent" th:href="@{/login}">Login</a>
        <a class="btn btn-transparent" th:href="@{/logout}">Logout</a>
    </div>
</header>

<section class="">
    <div class="container">
        <div class="col-3 text--center">
            <img src="http://store.storeimages.cdn-apple.com/4044/as-images.apple.com/is/image/AppleInc/aos/published/images/H/D1/HD162/HD162?wid=800&hei=800&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1400749861094" alt="" class="details-img--ball"/>
        </div>
        <div class="col-7 details">
            <h3>Resume Maker Pro is so awesome.</h3>
            <p>No more worries about how to make your profile. This web app will guide you through the process of writing each section, step-by-step, down to the smallest part. Our profile generator does all of the hard work. Remember, your work experiences and education are unique. Our online Resume Maker Pro features will help you create a profile that reflects your greatest strengths. You will land more interviews in no time, and get hired for your dream job. </p>
        </div>
    </div>
</section>

<section class="section--primary">
    <div class="container">
        <div class="col-3 features">
            <i class="fa fa-bolt"></i>
            <p>
                Resume Maker is Fast and Simple!
            </p>
        </div>
        <div class="col-3 features">
            <i class="fa fa-bank"></i>
            <p>
                Resumes so great. Makes your employer Smile - go make one now!
            </p>
        </div>
        <div class="col-3 features">
            <i class="fa fa-heart"></i>
            <p>
                Love Resume Maker? Go tell a friend!
            </p>
        </div>
    </div>
</section>

<section class="section--primary--alt">
    <div class="container">
        <h3>Use Resume Maker with you every device you own.</h3>
        <p>Resume Maker Pro is all you need. Anywhere - ever. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita sapiente hic voluptatum quo sunt totam accusamus distinctio minus aliquid quis!</p>
    </div>
</section>

<section class="section--primary--light">
    <div class="container">
        <blockquote class="testimonial">
            <p>Love Resume Maker. So nice! So good! Could not live without! Recuriters contact me  Instantly!</p>
            <cite>
                Satisfied Customer
            </cite>
        </blockquote>
    </div>
</section>


<section class="section--primary--alt bg-image bg-image-2">
    <div class="container text--center">
        <h3>Reasons to use Resume Maker:</h3>
        <div class="col-5 text--left">
            <ul>
                <li>Its the best</li>
                <li>Its awesome</li>
                <li>It makes you stand out</li>
                <li>It brings world peace</li>
                <li>Its free!</li>
            </ul>
        </div>
        <div class="col-5 text--left">
            <ul>
                <li>Its the best</li>
                <li>Its awesome</li>
                <li>It makes you happy</li>
                <li>It brings world peace</li>
                <li>Its free!</li>
            </ul>
        </div>
    </div>
</section>

<section class="text--center">
    <div class="container">
        <h3>Why you still reading?</h3>
        <a href="#" class="btn">Make your Resume now!</a>
    </div>
</section>

<footer>
    <div class="container">
        <ul>
            <li><a href="#">Impressum</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Mainpage</a></li>
        </ul>
        <p>&copy; 2018 Resume Maker Pro. All rights reserved.</p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>