<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/indexstylesheet.css">
    <title>Title</title>
</head>
<body>
<header class="bg-image">
    <div class="container">
        <h1>Resume Maker Pro</h1>
        <a href="#" class="btn btn-transparent">Create yours today!</a>
    </div>
</header>

<section class="">
    <div class="container">
        <div class="col-3 text--center">
            <img src="http://store.storeimages.cdn-apple.com/4044/as-images.apple.com/is/image/AppleInc/aos/published/images/H/D1/HD162/HD162?wid=800&hei=800&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1400749861094" alt="" class="details-img--ball"/>
        </div>
        <div class="col-7 details">
            <h3>Resume Maker Pro is so awesome.</h3>
            <p>No more worries about how to make your resume. This web app will guide you through the process of writing each section, step-by-step, down to the smallest part. Our resume generator does all of the hard work. Remember, your work experiences and education are unique. Our online Resume Maker Pro features will help you create a resume that reflects your greatest strengths. You will land more interviews in no time, and get hired for your dream job. </p>
        </div>
    </div>
</section>

<section class="section--primary">
    <div class="container">
        <div class="col-3 features">
            <i class="fa fa-bolt"></i>
            <p>
                Resume Maker is Fast and Simple!
            </p>
        </div>
        <div class="col-3 features">
            <i class="fa fa-bank"></i>
            <p>
                Resumes so great. Makes your employer Smile - go make one now!
            </p>
        </div>
        <div class="col-3 features">
            <i class="fa fa-heart"></i>
            <p>
                Love Resume Maker? Go tell a friend!
            </p>
        </div>
    </div>
</section>

<section class="section--primary--alt">
    <div class="container">
        <h3>Use Resume Maker with you every device you own.</h3>
        <p>Resume Maker Pro is all you need. Anywhere - ever. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita sapiente hic voluptatum quo sunt totam accusamus distinctio minus aliquid quis!</p>
    </div>
</section>

<section class="section--primary--light">
    <div class="container">
        <blockquote class="testimonial">
            <p>Love Resume Maker. So nice! So good! Could not live without! Recuriters contact me  Instantly!</p>
            <cite>
                Satisfied Customer
            </cite>
        </blockquote>
    </div>
</section>


<section class="section--primary--alt bg-image bg-image-2">
    <div class="container text--center">
        <h3>Reasons to use Resume Maker:</h3>
        <div class="col-5 text--left">
            <ul>
                <li>Its the best</li>
                <li>Its awesome</li>
                <li>It makes you stand out</li>
                <li>It brings world peace</li>
                <li>Its free!</li>
            </ul>
        </div>
        <div class="col-5 text--left">
            <ul>
                <li>Its the best</li>
                <li>Its awesome</li>
                <li>It makes you happy</li>
                <li>It brings world peace</li>
                <li>Its free!</li>
            </ul>
        </div>
    </div>
</section>

<section class="text--center">
    <div class="container">
        <h3>Why you still reading?</h3>
        <a href="#" class="btn">Make your Resume now!</a>
    </div>
</section>

<footer>
    <div class="container">
        <ul>
            <li><a href="#">Impressum</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Mainpage</a></li>
        </ul>
        <p>&copy; 2018 Resume Maker Pro. All rights reserved.</p>
    </div>
</footer>
</body>
</html>