<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/tablestyle.css">
    <link rel = "stylesheet" type = "text/css" href = "css/indexstylesheet.css"></link>
</head>
<body>

<form th:action="@{/addskillstojob/{jobid}(jobid=${job.id})}" th:object="${skill}" method="post">
    <input type="text" th:value="${job.id}">
    <label th:inline="text">Adding skills for Position: [[${job.title}]]</label>

    <select name="skills">
        <option th:each="skill : ${skilllist}" th:value="${skill.id}" th:text="${skill.skill}"></option>
    </select>

    <input type="submit" value="Add Skills to Job!">
</form>
</body>
</html>