<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/tablestyle.css">
    <link rel = "stylesheet" type = "text/css" href = "css/indexstylesheet.css"></link>
</head>
<body>
<div th:replace="index :: navbar"></div>
<header th:replace="index :: navbuttons"></header>
<div class="row">
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; A grey horizontal navbar that becomes vertical on small screens &ndash;&gt;-->
        <!--<nav class="navbar navbar-expand-sm bg-light">-->
            <!--&lt;!&ndash; Links &ndash;&gt;-->
            <!--<ul class="navbar-nav">-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" th:href="@{/addResume}">Create yours Resume Profile!</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link"th:href="@{/addSkill}">Add Skill</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" th:href="@{/addEducation}">Add Education</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" th:href="@{/addExperience}">Add Experience!</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" th:href="@{/login}">Login</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" th:href="@{/logout}">Logout</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" th:href="@{/skillList}">Show Skills List</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</nav>-->
    <!--</div>-->
<!--</div>-->
    <h2>Skill Information</h2>
    <table>
    <tr>
        <th>Skill</th>
        <th>Skill Rating</th>
    </tr>

    <tr th:each="skill : ${skilllist}">
        <td th:text="${skill.skill}"></td>
        <td th:text="${skill.skillrating}"></td>
        <td>
            <p class="lead text-center"><a class="btn btn-lg btn-info" th:href="@{/update/skill/{id}(id=${skills.id})}" target="_self">
                Change Skill
            </a></p>

            <p class="lead text-center"><a class="btn btn-lg btn-info" th:href="@{/detail/skill/{id}(id=${skills.id})}" target="_self">
                See All Skills
            </a></p>

            <p class="lead text-center"><a class="btn btn-lg btn-info" th:href="@{/delete/skill/{id}(id=${skills.id})}" target="_self">
                Remove this Skill
            </a></p>
        </td>
    </tr>
</table>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>