<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--<form th:action="@{/addskilltojob/{id}(id=${skills.id})}" th:object="${skills}" method="post">-->
    <!--<input type="text" th:value="${skills.id}">-->
    <!--<label th:inline="text">Adding Skills for [[${skills.skill}]]</label>-->
    <!--<select name="Skills">-->
        <!--<option th:each="skill:${skilllist}" th:value="${skills.id}" th:text="*{skill}"></option>-->
    <!--</select>-->

    <!--<input type="submit" value="Add Skill to Job!">-->
<!--</form>-->
                                        <form  th:action="@{/addskillstojob/{id}(id=${newJob.jobId})}" method="post">

                                            <fieldset>
                                                <h3>Add a skill to Job database:</h3><br />


                                                <div>
                                                    <table align="center">
                                                        <th:block th:each="item:${skilllist}">
                                                            <tr>
                                                                <td><input type="checkbox" name="skillIds" th:value="${skill.skills}"></td>
                                                                <td><p th:text="${skill.skill}"></p></td>
                                                                <td><p th:text="${zkill.skillrating}"></p></td>
                                                            </tr>
                                                        </th:block>


                                                        <tr>
                                                            <td style="padding-bottom: 10px">Other(optional):</td>
                                                            <td><input type="text" name="skill" placeholder="Enter the skill name"></td>
                                                            <td><input type="text" name="skillrating" placeholder="Enter the skill rating"></td>
                                                        </tr>

                                                    </table>
                                                </div>

                                                <p><input type="submit" class="btn btn-default navbar-btn" value="Add Skill to Job" />
                                            </fieldset>
                                        </form>

</body>
</html>